@import url("https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css");
.table,
.th,
.td {
  border: 2px solid rgb(147, 119, 146);
  padding: 0.5em;
  margin: 10px;
}
.container {
  width: 100%;
  margin:10px 10px 10px 10px;

  /* justify-content: start; */
  /* text-align: left; */
  /* display: inline; */
}

.input-field{
  width: 35%;
  padding: 10px;
  outline: none;
  border: 2px solid rgb(93, 21, 91);
  border-bottom: 2px solid #333;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
}
/* .fas{
  width: 35%;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(93, 21, 91);
    border-bottom: 2px solid #333;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
} */
@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .container{
    width: 95px;
  }
 
}
body{
  font-family: "Poppins",sans-serif;
}

.button{

 
   padding: 2px 2px 2px 2px ;
   margin: 2px 2px 2px 2px ;
   font-size: 24px ;
   
  
   background-color: #6892d6;
  color: #fff;
 
}
.but{
  padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
align-items: right;
align-self: flex-end;
display: flex;
align-content: flex-end;

}
.flex{
  display: flex;
}